<div class="col-md-6 col-md-offset-3">
 
  <%= form_with model: @new_post, local: true do |post| %>
  <%= post.hidden_field :workspace_id, value: @new_post.workspace_id %>
  <%= post.label :Title %>
  <%= post.text_field :title_name, class: 'form_control' %>
  <%= post.label :Text %>
  <%= post.text_area :parent_content, class: 'form_control', rows: "7" %>
  <%= post.submit "Create", class: "btn btn-primary mt-3" %>
  <% end %>
  <ul>
    <% @post.each do |post| %>
      <li>
        <strong>ID:         </strong> <%= post.id %><br>
        <strong>Title:      </strong> <%= post.title_name %><br>
        <strong>Content:    </strong> <%= post.parent_content %><br>
        <strong>Updated at: </strong> <%= post.updated_at.strftime("%Y-%m-%d %H:%M") %><br>
        <strong>Created at: </strong> <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
        <div>
        
        <%= link_to "Edit post", edit_post_path(post), class: "btn btn-primary mt-3" %>
        <% if current_user.admin?%>
        <%= link_to "Delete post", post, data:{"turbo-method": :delete,
                                          turbo_confirm: "You sure?"}, class: "btn btn-primary mt-3" %>
        <% end %>                                  
        </div>
      </li>
    <% end %>
  </ul>
</div>