<div class="content">
  <ul>
    <% @posts.each do |post| %>
      <li>
        <strong>ID:         </strong> <%= post.id %><br>
        <strong>Title:      </strong> <%= post.title_name %><br>
        <strong>Content:    </strong> <%= post.parent_content %><br>
        <strong>Updated at: </strong> <%= post.updated_at.strftime("%Y-%m-%d %H:%M") %><br>
        <strong>Created at: </strong> <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
        <div>
        
        <%= link_to "Edit post", edit_post_path(post), class: "btn btn-primary mt-3" %>
        <% %>
        </div>
      </li>
    <% end %>
  </ul>
</div>